@page "/"
@namespace Puistoon.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puistoon</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
        <div id="map" style="height:1000px; width:1700px;"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 60.174722, lng: 24.945833 },
                    zoom: 12.4
                    ,
                    //draggable:false

                });


                setMarkers(map);
                setMarker(map);
                setMarks(map);
                setMark(map);
            }


            // Data for the markers consisting of a name, a LatLng and a zIndex for the
            // order in which these markers should display on top of each other.
            var puistot = [
                ['Kaivopuisto', 60.1557, 24.9557, 12, 'https://docs.jsfiddle.net/use-cases/code-snippets-hosting'],
                ['Alppipuisto', 60.1901, 24.9361],
                ['Esplanadi Puisto', 60.1675, 24.9476],
                ['Eiranpuisto', 60.1575, 24.9408],
                ['Sinebrychoffin puisto', 60.1620, 24.9328],
                [' Elaintarha', 60.190278, 24.929722],
                [' Josafatin kalliot', 60.1868, 24.9449],
                [' Kaisaniemen Puisto', 60.174722, 24.945833],
                [' Sibelius Puisto', 60.181944, 24.913472],
                [' Vanha Kirkkopuisto', 60.166121, 24.939851],
                [' Viherniemenpuisto', 60.179005, 24.952722],
                [' Vallilan puisto', 60.197497, 24.954600],
                [' Hesperia', 60.178709, 24.930352],
                [' Keskuspuisto', 60.224312, 24.918488],
                [' Tähtitorninvuoren puisto', 60.162076, 24.951712],
                [' Dallapénpuisto', 60.1897, 24.9583],
                [' Karhupuisto', 60.184122, 24.952465],
                [' Meripuisto', 60.155014, 24.946305],
                [' Kirsikkapuisto', 60.196611, 25.0491]



            ];


            function setMarkers(map) {
                // Adds markers to the map.

                // Marker sizes are expressed as a Size of X,Y where the origin of the image
                // (0,0) is located in the top left of the image.

                // Origins, anchor positions and coordinates of the marker increase in the X
                // direction to the right and in the Y direction down.
                var image = {
                    url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(20, 32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the flagpole at (0, 32).
                    anchor: new google.maps.Point(0, 32)
                };
                // Shapes define the clickable region of the icon. The type defines an HTML
                // <area> element 'poly' which traces out a polygon as a series of X,Y points.
                // The final coordinate closes the poly by connecting to the first coordinate.
                var shape = {
                    coords: [1, 1, 1, 20, 18, 20, 18, 1],
                    type: 'poly'
                };
                for (var i = 0; i < puistot.length; i++) {
                    var puisto = puistot[i];
                    var marker = new google.maps.Marker({
                        position: { lat: puisto[1], lng: puisto[2] },
                        map: map,
                        icon: image,
                        shape: shape,
                        title: puisto[0],
                        zIndex: puisto[3],
                        //url: place[4]//url:"/your/url/"
                    });
                    //    google.maps.event.addlistener(marker, 'click', funtion(),{
                    //windows.location.href = this.url
                    //});

                }
            }


                var kaupat = [
                    ['Alepa Pietarinkatu', 60.157291, 24.947756],
                    ['Alepa Ullanlinna', 60.159575, 24.945370],
                    ['Alepa Viiskulma', 60.167105, 24.945393],
                    ['Alepa Perämiehenkatu', 60.158893, 24.934518],
                    ['Alepa Iso Roobertinkatu', 60.163286, 24.940140],
                    ['Alepa Ruoholahdenkatu', 60.164430, 24.923056],
                    ['Alepa Jätkäsaari', 60.159989, 24.918721],
                    ['Alepa Kamppi', 60.169046, 24.927950],
                    ['Alepa Kampin Keskus', 60.169322, 24.933238],
                    ['Alepa  Forum', 60.169462, 24.938211],
                    ['Alepa Kluuvi', 60.169275, 24.948097],
                    ['Alepa Katajanokka', 60.168251, 24.974445],
                    ['Alepa Kruununhaka', 60.170856, 24.958899],
                    ['Alepa  Liisankatu', 60.174163, 24.954909],
                    ['Alepa Mechelininkatu', 60.170360, 24.921110],
                    ['Alepa Caloniuksenkatu', 60.174929, 24.921711],
                    ['Alepa Viherniemenkatu ', 60.179627, 24.953405],
                    ['Alepa  Runeberginkatu ', 60.181563, 24.954909],
                    ['Alepa Hesperiankatu', 60.178084, 24.927363],
                    ['Alepa Töölöntori ', 60.178087, 24.927377],
                    ['Alepa Kisahalli', 60.185109, 24.921817],
                    ['Alepa Mannerheimintie', 60.189393, 24.916770],
                    ['Alepa Kuusitie', 60.195333, 24.901482],
                    ['Alepa Munkkiniemen Puistotie', 60.197890, 24.877166],
                    ['Alepa Munkkiniemi', 60.198318, 24.879855],
                    ['Alepa Pikku Huopalahti ', 60.203334, 24.899011],
                    ['Alepa Pohjois-Haaga', 60.229909, 24.896147],
                    ['Alepa Kannelmäki', 60.241408, 24.884850],
                    ['Alepa Malminkartano', 60.247430, 24.861860],
                    ['Alepa Sitratori', 60.239540, 24.875540],
                    ['Alepa Paloheinä ', 60.247990, 24.923220],
                    ['Alepa Maunula', 60.228050, 24.926250],
                    ['Alepa Käpylä', 60.210680, 24.952600],
                    ['Alepa Pohjolankatu', 60.216410, 24.953510],
                    ['Alepa Koskela', 60.231331, 24.000240],
                    ['Alepa Pihlajisto', 60.225380, 24.994850],
                    ['Alepa Viikinmäki', 60.225380, 24.994850],
                    ['Alepa Sturenkatu 27', 60.193691, 24.956221],
                    ['Alepa Sturenkatu 40', 60.196420, 24.959480],
                    ['Alepa Pasilanraitio', 60.197710, 24.927500],
                    ['Alepa Tripla', 60.198199, 24.933604],
                    ['Alepa Kallio', 60.185090, 24.947220],
                    ['Alepa Helsinginkatu', 60.186420, 24.944850],
                    ['Alepa Viherniemenkatu', 60.179459, 24.953501],
                    ['Alepa Hämeentie', 60.186960, 24.961760],
                    ['Alepa Wallininkuja', 60.184910, 24.944510],
                    ['Alepa Vallila', 60.192000, 24.961460],
                    ['Alepa Porvoonkatu', 60.191570, 24.943020],
                    ['Alepa Kulosaari', 60.186380, 25.008240],
                    ['Alepa Herttoniemi', 60.195229, 25.030331],
                    ['Alepa Roihuvuori', 60.202300, 25.058610],
                    ['Alepa Erätori', 60.205660, 25.034730]

                ];


                function setMarker(map) {
                    // Adds markers to the map.

                    // Marker sizes are expressed as a Size of X,Y where the origin of the image
                    // (0,0) is located in the top left of the image.

                    // Origins, anchor positions and coordinates of the marker increase in the X
                    // direction to the right and in the Y direction down.
                    var image = {
                        url: 'https://fonts.gstatic.com/s/i/materialicons/local_grocery_store/v1/24px.svg?download=true',
                        // This marker is 20 pixels wide by 32 pixels high.
                        size: new google.maps.Size(20, 32),
                        // The origin for this image is (0, 0).
                        origin: new google.maps.Point(0, 0),
                        // The anchor for this image is the base of the flagpole at (0, 32).
                        anchor: new google.maps.Point(0, 32)
                    };
                    // Shapes define the clickable region of the icon. The type defines an HTML
                    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
                    // The final coordinate closes the poly by connecting to the first coordinate.
                    var shape = {
                        coords: [1, 1, 1, 20, 18, 20, 18, 1],
                        type: 'poly'
                    };
                    for (var i = 0; i < kaupat.length; i++) {
                        var kauppa = kaupat[i];
                        var marker = new google.maps.Marker({
                            position: { lat: kauppa[1], lng: kauppa[2] },
                            map: map,
                            icon: image,
                            shape: shape,
                            title: kauppa[0],
                            zIndex: kauppa[3]
                        });
                    }
                }
                var vessat = [
                    ['Hesperian puiston yleisövessa', 60.17851, 24.929686],
                    ['Kansalaistorin yleisövessa', 60.172344, 24.935284],
                    ['Mustikkamaan yleisövessa', 60.180367, 24.98958],
                    ['Matti Heleniuksen puiston yleisövessa', 60.184002, 24.953669],
                    ['Vanhan kirkkopuiston yleisövessa', 60.166508, 24.939959],
                    ['Väinö Tannerin kentän yleisövessa', 60.181988, 24.956932],
                    ['Varsapuistikon yleisövessa', 60.17316, 24.949566],
                    ['Töölön kisahallin yleisövessa', 60.18259, 24.92712],
                    ['Topeliuksen puiston yleisövessa', 60.18152, 24.920065],
                    ['Tokoinrannan yleisövessa', 60.180737, 24.944675],
                    ['Toivonkadun yleisövessa', 60.18475, 24.925434],
                    ['Tervasaaren yleisövessa', 60.173805, 24.968798],
                    ['Tehtaanpuiston yleisövessa', 60.159412, 24.941809],
                    ['Sofiankadun yleisövessa', 60.168293, 24.95196],
                    ['Sinebrychoffin puiston yleisövessa', 60.16212, 24.93389],
                    ['Sibeliuksen puiston yleisövessa', 60.18122, 24.913105],
                    ['Seurasaaren yleisövessa', 60.188232, 24.884993],
                    ['Ruoholahdentorin yleisövessa', 60.162346, 24.912844],
                    ['Rautatientorin yleisövessa', 60.17168, 24.944628],
                    ['Ratakadun yleisövessa', 60.163334, 24.945042]


                ];


                function setMarks(map) {
                    // Adds markers to the map.

                    // Marker sizes are expressed as a Size of X,Y where the origin of the image
                    // (0,0) is located in the top left of the image.

                    // Origins, anchor positions and coordinates of the marker increase in the X
                    // direction to the right and in the Y direction down.
                    var image = {
                        url: 'https://fonts.gstatic.com/s/i/materialicons/wc/v1/24px.svg?download=true',
                        // This marker is 20 pixels wide by 32 pixels high.
                        size: new google.maps.Size(20, 32),
                        // The origin for this image is (0, 0).
                        origin: new google.maps.Point(0, 0),
                        // The anchor for this image is the base of the flagpole at (0, 32).
                        anchor: new google.maps.Point(0, 32)
                    };
                    // Shapes define the clickable region of the icon. The type defines an HTML
                    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
                    // The final coordinate closes the poly by connecting to the first coordinate.
                    var shape = {
                        coords: [1, 1, 1, 20, 18, 20, 18, 1],
                        type: 'poly'
                    };
                    for (var i = 0; i < vessat.length; i++) {
                        var vessa = vessat[i];
                        var marker = new google.maps.Marker({
                            position: { lat: vessa[1], lng: vessa[2] },
                            map: map,
                            icon: image,
                            shape: shape,
                            title: vessa[0],
                            zIndex: vessa[3]
                        });
                    }
                }

                var pyörät = [

                    ['Kaupunkipyöräasema Kaivopuisto', 60.155444793821, 24.9502928896903],
                    ['Kaupunkipyöräasema Laivasillankatu', 60.1609590943154, 24.9563474717587],
                    ['Kaupunkipyöräasema Kapteeninpuistikko', 60.1581892, 24.9449274],
                    ['Kaupunkipyöräasema Viiskulma', 60.1609859, 24.9417758],
                    ['Kaupunkipyöräasema Sepänkatu', 60.1579483, 24.9362853],
                    ['Kaupunkipyöräasema Hietalahdentori', 60.1622251, 24.9297099],
                    ['Kaupunkipyöräasema Design Museum', 60.1631032, 24.94596],
                    ['Kaupunkipyöräasema Vanha kirkkopuisto', 60.1652883, 24.9391499],
                    ['Kaupunkipyöräasema Kasarmitori', 60.1650171805, 24.94947287873],
                    ['Kaupunkipyöräasema Unioninkatu', 60.1674573, 24.9510227],
                    ['Kaupunkipyöräasema Kanavaranta', 60.168384, 24.9583814],
                    ['Kaupunkipyöräasema Merisotilaantori', 60.1678703, 24.9755341],
                    ['Kaupunkipyöräasema Senate Square', 60.1691278, 24.9526414],
                    ['Kaupunkipyöräasema Ritarikatu', 60.17110664588, 24.95555819284],
                    ['Kaupunkipyöräasema Liisanpuistikko', 60.1741822, 24.9613747],
                    ['Kaupunkipyöräasema Varsapuistikko', 60.1731029, 24.9494791],
                    ['Kaupunkipyöräasema Porthania', 60.16986222858, 24.9481463998],
                    ['Kaupunkipyöräasema Central Railway Station/East', 60.1708236, 24.9425268],
                    ['Kaupunkipyöräasema Kaisaniemenpuisto', 60.1731989417251, 24.9433010006817],
                    ['Kaupunkipyöräasema Töölönlahdenkatu', 60.1729435, 24.939284],
                    ['Kaupunkipyöräasema Central Railway Station/West', 60.1706061, 24.9397601],
                    ['Kaupunkipyöräasema Kiasma', 60.1712579, 24.9374279],
                    ['Kaupunkipyöräasema Mannerheimintie', 60.1690724, 24.9394195],
                    ['Kaupunkipyöräasema Narinkka', 60.1700844, 24.9351212],
                    ['Kaupunkipyöräasema Kamppi (M)', 60.1686095, 24.9305373],
                    ['Kaupunkipyöräasema Eerikinkatu', 60.1673332, 24.9357851],
                    ['Kaupunkipyöräasema Lastenlehto', 60.1658121, 24.927021],
                    ['Kaupunkipyöräasema Baana', 60.164088, 24.9225658],
                    ['Kaupunkipyöräasema Itämerentori', 60.1635309, 24.9145165],
                    ['Kaupunkipyöräasema Maria Hospital', 60.1680998, 24.9220763],
                    ['Kaupunkipyöräasema Finnish Museum of Natural History', 60.1718700553732, 24.9312234051774],
                    ['Kaupunkipyöräasema Hanken School of Economics', 60.1711591, 24.924961],
                    ['Kaupunkipyöräasema National Museum', 60.1739641, 24.9329875],
                    ['Kaupunkipyöräasema Cygnaeuksenkatu', 60.174063715, 24.92822758053],
                    ['Kaupunkipyöräasema Apollonkatu', 60.1760798, 24.9223942],
                    ['Kaupunkipyöräasema Töölönkatu', 60.1775598, 24.9283272],
                    ['Kaupunkipyöräasema Töölöntori', 60.1791231, 24.9249114],
                    ['Kaupunkipyöräasema Opera', 60.1825529, 24.926687],
                    ['Kaupunkipyöräasema Hakaniemi (M)', 60.17810631604, 24.95218124892],
                    ['Kaupunkipyöräasema Ympyrätalo', 60.180863, 24.9494],
                    ['Kaupunkipyöräasema Haapaniemenkatu', 60.1831065830755, 24.9551808216932],
                    ['Kaupunkipyöräasema Karhupuisto', 60.1842833, 24.9526763],
                    ['Kaupunkipyöräasema Sörnäinen (M)', 60.1880380542668, 24.9608921062125],
                    ['Kaupunkipyöräasema Brahen kenttä', 60.1868618, 24.9509168],
                    ['Kaupunkipyöräasema Diakoniapuisto', 60.1862877, 24.9418576],
                    ['Kaupunkipyöräasema Market Square', 60.165343, 24.953535],
                    ['Kaupunkipyöräasema Mastokatu', 60.1647545, 24.9674861],
                    ['Kaupunkipyöräasema Annankatu', 60.16345894291, 24.94177084206],
                    ['Kaupunkipyöräasema Melkonkuja', 60.1498127, 24.8861094],
                    ['Kaupunkipyöräasema Itälahdenkatu', 60.15066, 24.8812502],
                    ['Kaupunkipyöräasema Heikkilänaukio', 60.1540763, 24.8793159],
                    ['Kaupunkipyöräasema Heikkiläntie', 60.156817, 24.8850653],
                    ['Kaupunkipyöräasema Gyldenintie', 60.1583842, 24.8766658],
                    ['Kaupunkipyöräasema Puistokaari', 60.16169596138, 24.85986626853],
                    ['Kaupunkipyöräasema Luoteisväylä', 60.1654485, 24.8601992],
                    ['Kaupunkipyöräasema Lauttasaari Shopping Center', 60.1603306, 24.8815441],
                    ['Kaupunkipyöräasema Lauttasaarensilta', 60.1615512, 24.8926386],
                    ['Kaupunkipyöräasema Salmisaarenranta', 60.16478138043, 24.90096080349],
                    ['Kaupunkipyöräasema Porkkalankatu', 60.1632493, 24.905336],
                    ['Kaupunkipyöräasema Länsisatamankatu', 60.1589276, 24.909692],
                    ['Kaupunkipyöräasema Messitytönkatu', 60.1610901, 24.9158734],
                    ['Kaupunkipyöräasema Jätkäsaarenlaituri', 60.1619311, 24.9214896],
                    ['Kaupunkipyöräasema Tyynenmerenkatu', 60.156838, 24.920661],
                    ['Kaupunkipyöräasema Hylkeenpyytäjänkatu', 60.1535296817898, 24.9312540670602],
                    ['Kaupunkipyöräasema Ehrenströmintie', 60.155309, 24.9591271],
                    ['Kaupunkipyöräasema Perämiehenkatu', 60.15997725117, 24.93383428634],
                    ['Kaupunkipyöräasema Albertinkatu', 60.1618359, 24.9368179],
                    ['Kaupunkipyöräasema Kalevankatu', 60.1656962, 24.9314323],
                    ['Kaupunkipyöräasema Sammonpuistikko', 60.1731473, 24.9224112],
                    ['Kaupunkipyöräasema Hietaniemenkatu', 60.17261154618, 24.91127964812],
                    ['Kaupunkipyöräasema Eteläinen Hesperiankatu', 60.1755878740783, 24.9156627516855],
                    ['Kaupunkipyöräasema Kesäkatu', 60.1792967, 24.9132504],
                    ['Kaupunkipyöräasema Rajasaarentie', 60.183137, 24.911127],
                    ['Kaupunkipyöräasema Korjaamo', 60.1838677, 24.9198371],
                    ['Kaupunkipyöräasema Olympic Stadium', 60.1845055, 24.9249741],
                    ['Kaupunkipyöräasema Nordenskiöldinaukio', 60.185236329671, 24.9172498411259],
                    ['Kaupunkipyöräasema Messeniuksenkatu', 60.1878352, 24.9180102],
                    ['Kaupunkipyöräasema Swimming Stadium', 60.1892172, 24.9292286],
                    ['Kaupunkipyöräasema Ice hall', 60.1894025, 24.9205978],
                    ['Kaupunkipyöräasema Stenbäckinkatu', 60.1883091, 24.9123717],
                    ['Kaupunkipyöräasema Töölöntulli', 60.1909569322666, 24.9128271354279],
                    ['Kaupunkipyöräasema Meilahti Hospital', 60.1902195, 24.9083351],
                    ['Kaupunkipyöräasema Paciuksenkatu', 60.1912021559682, 24.8999100503645],
                    ['Kaupunkipyöräasema Jalavatie', 60.1934696, 24.905889],
                    ['Kaupunkipyöräasema Kuusitie', 60.1952452, 24.9018997],
                    ['Kaupunkipyöräasema Kustaankatu', 60.1882752174, 24.95597593163],
                    ['Kaupunkipyöräasema Kiskontie', 60.1989402, 24.9012997],
                    ['Kaupunkipyöräasema Tilkanvierto', 60.1975329, 24.899261],
                    ['Kaupunkipyöräasema Paciuksenkaari', 60.1944475, 24.8911179],
                    ['Kaupunkipyöräasema Seurasaari', 60.188399, 24.8847362],
                    ['Kaupunkipyöräasema Saunalahdentie', 60.1926305828, 24.87922144235],
                    ['Kaupunkipyöräasema Torpanranta', 60.1948358, 24.8713963],
                    ['Kaupunkipyöräasema Laajalahden aukio', 60.197930907568, 24.8762217165007],
                    ['Kaupunkipyöräasema Munkkiniemen aukio', 60.1967196, 24.8840917],
                    ['Kaupunkipyöräasema Huopalahdentie', 60.1996653, 24.8836209],
                    ['Kaupunkipyöräasema Ulvilantie', 60.2038803, 24.8708833],
                    ['Kaupunkipyöräasema Muusantori', 60.2071193, 24.8559544],
                    ['Kaupunkipyöräasema Teljäntie', 60.2096956258026, 24.868739477208],
                    ['Kaupunkipyöräasema Munkkivuori Shopping Center', 60.2059946, 24.8798291],
                    ['Kaupunkipyöräasema Vihdintie', 60.208925, 24.8895209],
                    ['Kaupunkipyöräasema Kriikunakuja', 60.2056785, 24.8916817],
                    ['Kaupunkipyöräasema Tilkantori', 60.2028392, 24.8934761],
                    ['Kaupunkipyöräasema Korppaanmäentie', 60.2034735, 24.8989297],
                    ['Kaupunkipyöräasema Tenholantie', 60.2024393, 24.9054609],
                    ['Kaupunkipyöräasema Radiokatu', 60.20444389917, 24.91794928954],
                    ['Kaupunkipyöräasema Hertanmäenkatu', 60.20232751643, 24.9226300335],
                    ['Kaupunkipyöräasema Maistraatintori', 60.200047, 24.924304],
                    ['Kaupunkipyöräasema Esterinportti', 60.1975724, 24.9267808],
                    ['Kaupunkipyöräasema Rautatieläisenkatu', 60.2014382, 24.9332721],
                    ['Kaupunkipyöräasema Veturitori', 60.19970941415, 24.93520368471],
                    ['Kaupunkipyöräasema Ratapihantie', 60.19701384571, 24.93588683501],
                    ['Kaupunkipyöräasema Venttiilikuja', 60.1942095, 24.941578],
                    ['Kaupunkipyöräasema Linnanmäki Amusement Park', 60.1911411, 24.9401593],
                    ['Kaupunkipyöräasema Brahen puistikko', 60.1896706, 24.9481024],
                    ['Kaupunkipyöräasema Fleminginkatu', 60.1895417, 24.9521601],
                    ['Kaupunkipyöräasema Gebhardinaukio', 60.1907096, 24.9568729],
                    ['Kaupunkipyöräasema Mäkelänkatu', 60.1896352, 24.9635596],
                    ['Kaupunkipyöräasema Vilhonvuorenkatu', 60.1864633, 24.9678718],
                    ['Kaupunkipyöräasema Lintulahdenkatu', 60.1837182, 24.9621936],
                    ['Kaupunkipyöräasema Näkinsilta', 60.179765, 24.9554618],
                    ['Kaupunkipyöräasema Isoisänsilta', 60.18265182058, 24.98179260578],
                    ['Kaupunkipyöräasema Arielinkatu', 60.18479903388, 24.97864799006],
                    ['Kaupunkipyöräasema Kalasatama (M)', 60.18755649, 24.9770684],
                    ['Kaupunkipyöräasema Teurastamo', 60.1896994, 24.9711926],
                    ['Kaupunkipyöräasema Päijänteentie', 60.1920576, 24.9642238],
                    ['Kaupunkipyöräasema Pernajantie', 60.1942342, 24.9579931],
                    ['Kaupunkipyöräasema Teollisuuskatu', 60.193486, 24.9487524],
                    ['Kaupunkipyöräasema Elimäenkatu', 60.1962627, 24.9476186],
                    ['Kaupunkipyöräasema Hollolantie', 60.19588479865, 24.95453389981],
                    ['Kaupunkipyöräasema Haukilahdenkatu', 60.1985314, 24.9676708],
                    ['Kaupunkipyöräasema Velodrominrinne', 60.2010614, 24.9440506],
                    ['Kaupunkipyöräasema Sofianlehdonkatu', 60.2032721, 24.9513636],
                    ['Kaupunkipyöräasema Arabia Shopping Center', 60.2027912, 24.9666128],
                    ['Kaupunkipyöräasema Arabiankatu', 60.206491565145, 24.9770790117786],
                    ['Kaupunkipyöräasema Kaironkatu', 60.21003424069, 24.97656317933],
                    ['Kaupunkipyöräasema Verkatehtaanpuisto', 60.2137007, 24.9797283],
                    ['Kaupunkipyöräasema Intiankatu', 60.2078582, 24.9676383],
                    ['Kaupunkipyöräasema Koskelantie', 60.208749, 24.9465139],
                    ['Kaupunkipyöräasema Kuikkarinne', 60.15708560052, 24.86930605276],
                    ['Kaupunkipyöräasema Käpyläntie', 60.2139043, 24.9588108],
                    ['Kaupunkipyöräasema Pohjolankatu', 60.213421, 24.9437964],
                    ['Kaupunkipyöräasema Pohjolanaukio', 60.2172043, 24.9544112],
                    ['Kaupunkipyöräasema Käpylä station', 60.2208057097763, 24.9479290250383],
                    ['Kaupunkipyöräasema Juhana Herttuan tie', 60.2184427, 24.9664619],
                    ['Kaupunkipyöräasema Toinen linja', 60.183164, 24.9441949],
                    ['Kaupunkipyöräasema Töölönlahden puisto', 60.1766793, 24.9338701],
                    ['Kaupunkipyöräasema Eteläesplanadi', 60.16723083051, 24.94746581951],
                    ['Kaupunkipyöräasema Leppäsuonaukio', 60.16957343209, 24.92659049777],
                    ['Kaupunkipyöräasema Lehtisaarentie', 60.18147257752, 24.85053677106],
                    ['Kaupunkipyöräasema West Terminal', 60.1503956286203, 24.9158626673682],
                    ['Kaupunkipyöräasema Länsisatamankuja', 60.1569319135957, 24.9122004401749],
                    ['Kaupunkipyöräasema Merihaka', 60.1780659282697, 24.9584522150463],
                    ['Kaupunkipyöräasema Opastinsilta', 60.199235425819, 24.9378263708758],
                    ['Kaupunkipyöräasema Ilmala Station', 60.2066264376914, 24.9222198884301],
                    ['Kaupunkipyöräasema Ruskeasuo depot', 60.207679959617, 24.8986678906281],
                    ['Kaupunkipyöräasema Vanha Viertotie', 60.2110752962734, 24.8816602543586],
                    ['Kaupunkipyöräasema Valimotie', 60.2159222354368, 24.8764647928285],
                    ['Kaupunkipyöräasema Takomotie', 60.2178545421326, 24.870539572355],
                    ['Kaupunkipyöräasema Pajamäki', 60.218807358015, 24.8556679547938],
                    ['Kaupunkipyöräasema Haagan tori', 60.2122752411325, 24.8995511363568],
                    ['Kaupunkipyöräasema Tunnelitie', 60.2166165374558, 24.8995436957405],
                    ['Kaupunkipyöräasema Huopalahti Station', 60.2180885610192, 24.8950593437384],
                    ['Kaupunkipyöräasema Valimo Station', 60.2222942787705, 24.8758709127461],
                    ['Kaupunkipyöräasema Pitäjänmäki Station', 60.2243142880515, 24.8586381246216],
                    ['Kaupunkipyöräasema Jännetie', 60.226769960916, 24.8535409588426],
                    ['Kaupunkipyöräasema Marttila', 60.2271432338222, 24.8732273654423],
                    ['Kaupunkipyöräasema Pohjois-Haaga Station', 60.2301514994965, 24.8831288454642],
                    ['Kaupunkipyöräasema Näyttelijäntie', 60.232852137579, 24.8874345548174],
                    ['Kaupunkipyöräasema Ida Aalbergin tie', 60.2294088233261, 24.892011409258],
                    ['Kaupunkipyöräasema Thalianaukio', 60.2253405231587, 24.8947926511603],
                    ['Kaupunkipyöräasema Huovitie', 60.2219755355633, 24.9032866466766],
                    ['Kaupunkipyöräasema Vesakkotie', 60.2279423680567, 24.9265647642638],
                    ['Kaupunkipyöräasema Maunula', 60.2313198690757, 24.9350488400963],
                    ['Kaupunkipyöräasema Lepolantie', 60.2391089420057, 24.9285950149938],
                    ['Kaupunkipyöräasema Kylävoudintie', 60.2244037846517, 24.9525612435897],
                    ['Kaupunkipyöräasema Kustaankartano', 60.2303917047945, 24.9483891407923],
                    ['Kaupunkipyöräasema Käskynhaltijantie', 60.2326869159381, 24.9587615297592],
                    ['Kaupunkipyöräasema Siltavoudintie', 60.2337068563397, 24.9653950777523],
                    ['Kaupunkipyöräasema Oulunkylä Station', 60.2286989543467, 24.9676086063056],
                    ['Kaupunkipyöräasema Kirkkoherrantie', 60.224930365111, 24.9728193751451],
                    ['Kaupunkipyöräasema Otto Brandtin tie', 60.2317840658415, 24.9781389190405],
                    ['Kaupunkipyöräasema Katariina Saksilaisen katu', 60.2172148079775, 24.9844200783587],
                    ['Kaupunkipyöräasema Hernepellontie', 60.2242121410046, 24.9886001154866],
                    ['Kaupunkipyöräasema Aulangontie', 60.2303019266391, 24.9985338198606],
                    ['Kaupunkipyöräasema Pihlajamäki', 60.2345785710341, 25.010313905081],
                    ['Kaupunkipyöräasema Viikki Science Park', 60.2275206717274, 25.0100620611398],
                    ['Kaupunkipyöräasema Viikki Teacher Training School', 60.2274952958329, 25.0276189335302],
                    ['Kaupunkipyöräasema Agronominkatu', 60.2340530100318, 25.032857400999],
                    ['Kaupunkipyöräasema Von Daehnin katu', 60.2303371788655, 25.0435680698823],
                    ['Kaupunkipyöräasema Mustikkamaa', 60.1818617791661, 24.9920371101684],
                    ['Kaupunkipyöräasema Relanderinaukio', 60.1858874980526, 25.0060192238902],
                    ['Kaupunkipyöräasema Kulosaari (M)', 60.1889500885511, 25.0065665308997],
                    ['Kaupunkipyöräasema Tupasaarentie', 60.1879981770327, 25.0153916484838],
                    ['Kaupunkipyöräasema Haakoninlahdenkatu', 60.1688685583537, 25.0208609553097],
                    ['Kaupunkipyöräasema Gunillantie', 60.1719802714683, 25.0329688498168],
                    ['Kaupunkipyöräasema Isosaarentie', 60.1754903225495, 25.0449007059399],
                    ['Kaupunkipyöräasema Reiherintie', 60.167730503346, 25.0474962648877],
                    ['Kaupunkipyöräasema Humalniementie', 60.1837438493829, 25.0530378591019],
                    ['Kaupunkipyöräasema Tammisalon aukio', 60.191646879193, 25.061184170925],
                    ['Kaupunkipyöräasema Agnetankuja', 60.1872341227574, 25.036412289626],
                    ['Kaupunkipyöräasema Laivalahden puistotie', 60.1879581030613, 25.0313853067734],
                    ['Kaupunkipyöräasema Herttoniemenranta', 60.190210145879, 25.0260657101366],
                    ['Kaupunkipyöräasema Margareetankuja', 60.1910095813903, 25.0370700354601],
                    ['Kaupunkipyöräasema Abraham Wetterin tie', 60.1927078962633, 25.042580274921],
                    ['Kaupunkipyöräasema Petter Wetterin tie', 60.1931376253641, 25.0311119425851],
                    ['Kaupunkipyöräasema Herttoniemi (M)', 60.194614624348, 25.0288720827461],
                    ['Kaupunkipyöräasema Asentajanpuisto', 60.1991271375826, 25.0425924657535],
                    ['Kaupunkipyöräasema Siilitie (M)', 60.2059624495914, 25.0451611567263],
                    ['Kaupunkipyöräasema Herttoniemi Church', 60.1984429511655, 25.0321121279418],
                    ['Kaupunkipyöräasema Eränkävijäntori', 60.2045616636491, 25.0335974122117],
                    ['Kaupunkipyöräasema Siilitie 9', 60.2094767053061, 25.0374822156605],
                    ['Kaupunkipyöräasema Siilitie 13', 60.2150633716658, 25.0437937790117],
                    ['Kaupunkipyöräasema Roihupelto', 60.2092346001843, 25.0561740873224],
                    ['Kaupunkipyöräasema Porolahti school', 60.1955397168387, 25.0535809440573],
                    ['Kaupunkipyöräasema Peukaloisentie', 60.1987054995554, 25.0585493312324],
                    ['Kaupunkipyöräasema Tulisuontie', 60.2020729867128, 25.0600465960748],
                    ['Kaupunkipyöräasema Prinsessantie', 60.2063402326627, 25.0600923335408],
                    ['Kaupunkipyöräasema Marjaniementie', 60.20432489167, 25.0760693599452],
                    ['Kaupunkipyöräasema Kauppakartanonkuja', 60.207097461138, 25.0791548146161],
                    ['Kaupunkipyöräasema Voikukantie', 60.2089975994234, 25.0867821055208],
                    ['Kaupunkipyöräasema Itäkeskus (M)', 60.2096006655281, 25.0759680151555],
                    ['Kaupunkipyöräasema Puotinharju', 60.2124941655842, 25.0823220943938],
                    ['Kaupunkipyöräasema Marjaniemi', 60.203609556599, 25.086296156701],
                    ['Kaupunkipyöräasema Puotilantie', 60.2090596336624, 25.1004260602333],
                    ['Kaupunkipyöräasema Puotinkylä Manor', 60.2125099078453, 25.106198742979],
                    ['Kaupunkipyöräasema Puotila shopping center', 60.2127005714261, 25.0955595127933],
                    ['Kaupunkipyöräasema Puotila (M)', 60.2148207133143, 25.0911245276907],
                    ['Kaupunkipyöräasema Karhulantie', 60.2186014784414, 25.1023248499017],
                    ['Kaupunkipyöräasema Alakiventie', 60.2198509660164, 25.0774702440526],
                    ['Kaupunkipyöräasema Myllypuro (M)', 60.2240864677873, 25.0753957922287],
                    ['Kaupunkipyöräasema Orpaanporras', 60.2235651967072, 25.0654218381558],
                    ['Kaupunkipyöräasema Mamsellimyllynkatu', 60.2182519698433, 25.0591038761736],
                    ['Kaupunkipyöräasema Vallilan varikko', 60.195225, 24.962832],
                    ['Kaupunkipyöräasema Itäkeskus Metrovarikko', 60.211446, 25.065816],
                    ['Kaupunkipyöräasema Koskelan varikko', 60.212701, 24.969956],

                ];


                function setMark(map) {
                    // Adds markers to the map.

                    // Marker sizes are expressed as a Size of X,Y where the origin of the image
                    // (0,0) is located in the top left of the image.

                    // Origins, anchor positions and coordinates of the marker increase in the X
                    // direction to the right and in the Y direction down.
                    var image = {
                        url: 'https://fonts.gstatic.com/s/i/materialicons/directions_bike/v1/24px.svg?download=true',
                        // This marker is 20 pixels wide by 32 pixels high.
                        size: new google.maps.Size(20, 32),
                        // The origin for this image is (0, 0).
                        origin: new google.maps.Point(0, 0),
                        // The anchor for this image is the base of the flagpole at (0, 32).
                        anchor: new google.maps.Point(0, 32)
                    };
                    // Shapes define the clickable region of the icon. The type defines an HTML
                    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
                    // The final coordinate closes the poly by connecting to the first coordinate.
                    var shape = {
                        coords: [1, 1, 1, 20, 18, 20, 18, 1],
                        type: 'poly'
                    };
                    for (var i = 0; i < pyörät.length; i++) {
                        var pyörä = pyörät[i];
                        var marker = new google.maps.Marker({
                            position: { lat: pyörä[1], lng: pyörä[2] },
                            map: map,
                            icon: image,
                            shape: shape,
                            title: pyörä[0],
                            zIndex: pyörä[3]
                        });
                    }
                }
            
                
        </script>
       
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeTFqscUGDpHxrEEO40nus1_2qryw9dLc&callback=initMap"
                async defer></script>


    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
